/*************
 * FONTS
 *************/
@font-face {
    font-family: "Tele";
    src: url(images/telegrafico.ttf) format("truetype");
}

@font-face {
    font-family: "Titre";
    src: url(images/Gabrielle.ttf) format("truetype");
}

/*************
 * BUTTON CSS
 *************/
.connect {
    -moz-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    -webkit-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    background-color:#e8e8e8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    color:#777777;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:5px 14px;
    text-decoration:none;
    margin-left: 152px;
}
.connect:hover {
    background-color:#cccccc;
}
.connect:active {
    position:relative;
    top:1px;
}

/************
 * LOGIN CSS
 ***********/
#container{
    display: block;
    min-height: 90%;
    width: 100%;
    font-size: 15px;
    overflow: auto;
    color: white; 
    margin-bottom: 18%;
}

#content{
    width:274px;
    height: 100%;
    padding-top:0px;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content h1 {
    font:  bold 50px "Calibri", Arial, Helvetica, sans-serif;
    color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

input {
    width: 200px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px transparent;
    color: #555;
    padding: 8px;
    font-size: 13px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 16px, 16px Auto;
    padding-left:30px;
}

input.buttonSubmit{
    width: 100px;
    -moz-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    -webkit-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    background-color:#e8e8e8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    color: grey;
    font-family:Arial;
    font-size: 12px;
    font-weight: bold;
    padding:5px 14px;
    text-decoration:none;
    margin: auto;
    margin-top: 5px;
    text-shadow: #050505 0 -1px 0; 
}

input.buttonSubmit:hover{
    background-color:#cccccc;
    cursor: pointer;
}

input.buttonSubmit:active{
    position:relative;
    top:1px;
}

input.user-input {
    background: url('images/user.png') no-repeat scroll 7px 8px #fff;
    background-size: 16px, 16px Auto;
}
input.pass-input {
    background: url('images/login.png') no-repeat scroll 7px 8px #fff;
    background-size: 16px, 16px Auto;
    margin-bottom: 5px;
}
/***********
 * MAIN CSS
 ***********/
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('images/bgb.png') repeat #1b1b1b;
    font-size: 14px;
    text-shadow: #050505 0 -1px 0;
    font-weight: bold;
}

li {
    list-style: none;
}

div#footer{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%; 
    display: block;  
    z-index: 3;    
}

div#copyright{
    width: 100%;
    height: 30px;
    display: block;
    background-image: -webkit-linear-gradient(#616161, grey);
    background-image:    -moz-linear-gradient(#616161, grey);
    background-image:     -ms-linear-gradient(#616161, grey);
    background-image:      -o-linear-gradient(#616161, grey);
    background-image:         linear-gradient(#616161, grey);
    padding-top: 20px;
    -moz-box-shadow:    inset 0px 3px 2px rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0px 3px 2px rgba(255,255,255,0.5);
    box-shadow:         inset 0px 3px 2px rgba(255,255,255,0.5);
    min-width: 588.8px;
}

#copyright p{
    width: 300px;
    margin: auto; 
    font-family: Calibri,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 darkgrey;
}

#title{
    width: 100%;
    height: 5%;
    display: block;
    background-image: -webkit-linear-gradient(grey, #616161);
    background-image:    -moz-linear-gradient(grey, #616161);
    background-image:     -ms-linear-gradient(grey, #616161);
    background-image:      -o-linear-gradient(grey, #616161);
    background-image:         linear-gradient(grey, #616161);
    min-width: 588.8px;  
    overflow: hidden;
    border-bottom: solid 1px grey;
}

#title h1{
    position: relative;
    z-index: 0;
    color: black;
    display: inline-block;
    float: left;
    margin: 1%;
    margin-left: 2%;
    font-family: 'Titre',sans-serif;
    text-shadow: 0 2px 0 grey;
    font-size: 35px;
    -webkit-box-reflect: below -10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255,255,255,0.3)));
}

p#oublimdplink{
    display: block;
    text-decoration: none;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    color: darkgrey;
    width: 140px;
    margin: auto;
    cursor: pointer;
}

p#oublimdplink:hover{
    color: white;
}

div#oublimdpdiv{
    display: none;
    background-image: -webkit-linear-gradient(grey, #616161);
    background-image:    -moz-linear-gradient(grey, #616161);
    background-image:     -ms-linear-gradient(grey, #616161);
    background-image:      -o-linear-gradient(grey, #616161);
    background-image:         linear-gradient(grey, #616161); 
    position: absolute;    
    border: solid 1px darkgrey;
    padding: 10px;
    padding-top: 2px;
    font-family: "Calibri", Arial, Helvetica, sans-serif; 
    width: 300px;
    word-break: break;
}

div#oublimdpdiv p{
    color: black;
    text-shadow: none;
    text-align: center;
}

input#submitOubli{
    width: 100px;
    -moz-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    -webkit-box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    box-shadow:inset 0px 0px 0px 1px #c2c2c2;
    background-color:#e8e8e8;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    color: grey;
    font-family:Arial;
    font-size: 12px;
    font-weight: bold;
    padding:5px 14px;
    text-decoration:none;
    margin: auto;
    margin-top: 5px;
    text-shadow: #050505 0 -1px 0;
}

input#submitOubli:hover {
    background-color:#cccccc;
    cursor: pointer;
}
input#submitOubli:active {
    position:relative;
    top:1px;
}

span#close{
    display: block;
    float: right;
    font-size: 17px;
    cursor: pointer;
}

span#close:hover{
    color: red;
}