<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- definition des servlets -->
    <servlet>
        <servlet-name>ControleurDivin</servlet-name>
        <servlet-class>servlets.ControleurDivin</servlet-class>
    </servlet>

    <!-- mapping des servlets -->
    <servlet-mapping>
        <servlet-name>ControleurDivin</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>

    <!-- pages d'accueil -->
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>

    <!-- configuration de l'application -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Filtres -->
    <filter>
        <display-name>AuthentificationFilter</display-name>
        <filter-name>AuthentificationFilter</filter-name>
        <filter-class>filters.AutentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthentificationFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>ControlsFilter</display-name>
        <filter-name>ControlsFilter</filter-name>
        <filter-class>filters.ControlsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControlsFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>SessionFilter</display-name>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Pages d'erreur -->

</web-app>
